<h1>LISTA USUARIOS</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">AÑADIR</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 20%">NOMBRE</th>
            <th style="width: 20%">APELLIDO</th>
            <th style="width: 20%">FUNCIONES</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of usuarios.usuarios">
            <td>{{user.fname}}</td>
            <td>{{user.lname}}</td>
            <td style="white-space: nowrap">
                <button (click)="mostrarUser(user)" class="btn btn-sm btn-primary" >
                    MOSTRAR
                </button>

                <button (click)="deleteUser(user)" class="btn btn-sm btn-danger" >
                    ELIMINAR
                </button>
            </td>
        </tr>
        <tr *ngIf="!usuarios">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>